services:

  #mysql
  mysql:
    image: ${MYSQL_CONTAINER_VERSION}
    container_name: ${MYSQL_CONTAINER_NAME}
    restart: always
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql

  #redis
  redis:
    image: 'redis:latest'
    container_name: ${REDIS_CONTAINER_NAME}
    ports:
      - '6379'

volumes:
  mysql_data:

networks:
  ecommerce-net:
    driver: bridge
